<html>
<head>
    <meta charset="utf-8">
    <title>Form Yapısı</title>
</head>
<body>

    {% for message in get_flashed_messages() %}
    <h1>
        <div class="alert-error">Hata: {{ message }}</div><br>
    </h1>
    {% endfor %}
    <form action="/kullanici" method="POST">

        <text> Yeni Kullanıcı Kayıdı  </text> <br> <br>

        <input type="text" name="register" placeholder="Kullanıcı Adı"> <br>
        <input type="text" name="api" placeholder="API key"> <br>
        <input type="text" name="secret" placeholder="SECRET key"> <br> 
        <br>
        <input type="submit" value="Gönder">
    </form>

    <form action="/kullanici" method="POST">

        <text> Giriş  </text> <br> <br>

        <input type="text" name="login" placeholder="Kullanıcı Adı"> <br>   
        <br>
        <input type="submit" value="Gönder">
    </form>

</body>
</html>
